.change-password-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 190px;
}

.change-password-form {
  background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-password-form h2 {
  margin-bottom: 20px;
}

.change-password-form .form-group {
  margin-bottom: 15px;
}

.change-password-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.change-password-form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.change-password-form .reset-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.change-password-form .reset-button:hover {
  background-color: #0056b3;
}

.change-password-form .message, .change-password-form .error {
  margin-bottom: 15px;
  color: green;
}

.change-password-form .error {
  color: red;
}
