.attendance-list-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: -50px;
  height: 100vh
}

.attendance-table {
  width: 98%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.attendance-table th, .attendance-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.attendance-table th {
  background-color: #002f4b;
  color: white;
}

.attendance-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.attendance-table tr:hover {
  background-color: #ddd;
}

.error-message {
  color: red;
  margin: 10px 0;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-container label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-container select,
.filter-container input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-date-range {
  display: flex;
  align-items: center;
}

.custom-date-range label {
  margin-right: 5px;
  font-weight: bold;
}
